/* TAILWIND IMPORTS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Google Fonts se cargan desde index.html */

/* Estilos personalizados */
body {
  background-color: #F9F9F9;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, .font-serif {
  font-family: 'Cinzel', serif;
}

.font-logo {
  font-family: 'Cinzel', serif;
}